<main class="container">
  <div class="top_links">	
    <%= link_to sanitize("&larr; Back to All Bookstores"), bookstores_path %>
  </div>
  <div class="header">
    <h1>
      <%= @bookstore.name %>
    </h1>
  </div>
</main>